 .myDiv {
  border: 3px outset rgb(109, 79, 217);
  background-color: rgb(253, 255, 255);
  text-align: center;
} 
.myDiv-side-by-side {
    border: 3px outset rgb(109, 79, 217);
    background-color: rgb(253, 255, 255);
    text-align: center;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-auto-flow: column;
  }
  
  